
.PhotoCard {

   margin: 20px;
   display:inline-block;
   vertical-align:text-top
}

.Photos {
  display: flex;
  align-items: center;
  justify-content: center
}

.PhotosContainer {
  box-shadow: 0 4px 2px -2px gray;
}

.RatingsContainer {
  display:block;
  float:left;
  width:40%;
  height:150px;
  padding: 10px;
}

.OverallRatings {
  display:float;
  float:right;
  width:50%;
  height:150px;
  padding: 10px;
}

.Ratings {
  display:block;
  float:left;
  width:300px;
  height:150px;
  padding: 10px;
}

.RatingCard {

}

.progress-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 1px solid #333;
}

.filler {
  background: #1DA598;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.Navbar {
  border-radius: 10px;
  border: 1px solid #333;
  background-color: 	#A9A9A9;
  text-align: center;
  padding: 1em;
}

.NavTitle {
  font-size: 2em
}

.pic-tile {
    width: 500px;
    height: auto;
}
